.row1{background-color:rgba(192, 80, 77, 1);
	  color:white;
}
.my{background-color:rgba(218, 150, 148, 1);
   color:white; }

.row4{
	background-color:rgba(217, 217, 217, 1);
}
/* Your CSS Code here. */